<div class="container">

  <div id="intro">
    <h1>Animal Tracker Application</h1>
    <p>This application is designed to assist zoos with managing important details about their animals. The application provides the ability to add new animals and filter all animals based on their age. This page has been optimized to provide improved accessibility to vision impaired staff and can be used in conjunction with a screen reader.</p>
  </div>
  <hr>

  <new-animal (newAnimalSender)="addAnimal($event)"></new-animal>

  <hr>

  <display-animals [childAnimalList]="masterAnimalList" (editClickSender)="editAnimal($event)"></display-animals>

  <hr>

  <edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></edit-animal>

</div>
